.container { 
    position: absolute;
    width: 100vw;
    height: 75px;
    top: 0%;
    background-color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
    box-sizing: border-box;
    visibility: hidden;
}
